@page "/products"
@using UserPresentation.Services
@inject ApiProductService ProductService

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<NavLink href="products/add" class="btn btn-primary mb-3">Add Product</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Reorder Threshold</th>
            <th>Supplier ID</th>
            <th>Warehouse ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Id</td>
                <td><NavLink href="@($"products/{product.Id}")">@product.Name</NavLink></td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>@product.ReorderThreshold</td>
                <td>@product.SupplierId</td>
                <td>@product.WarehouseId</td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<Souk.Application.DTOs.ProductDto> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }
}