@page "/warehouses"
@using UserPresentation.Services
@inject ApiWarehouseService WarehouseService

<PageTitle>Warehouses</PageTitle>

<h1>Warehouses</h1>

<NavLink href="warehouses/add" class="btn btn-primary mb-3">Add Warehouse</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var warehouse in warehouses)
        {
             <tr>
                 <td>@warehouse.Id</td>
                 <td><NavLink href="@($"warehouses/{warehouse.Id}")">@warehouse.Name</NavLink></td>
                 <td>@warehouse.Location</td>
                 <td>@warehouse.Capacity</td>
                 <td><NavLink href="@($"warehouses/{warehouse.Id}")" class="btn btn-sm btn-primary">Details</NavLink></td>
             </tr>
        }
    </tbody>
</table>



@code {
    private List<Souk.Application.DTOs.WarehouseDto> warehouses = new();

    protected override async Task OnInitializedAsync()
    {
        warehouses = await WarehouseService.GetWarehousesAsync();
    }
}